<div class="employee-details">
  <div class="left-column">
    <!-- Аватарка -->
    <div class="employee-image-container">
      <img [src]="employee.image ? 'data:image/svg+xml;base64,' + employee.image : 'assets/placeholder.svg'" class="employee-image">
    </div>

    <!-- Данные сотрудника -->
    <div class="employee-info">
      <form>
        <div>
          <label>Имя:</label>
          <input type="text" pInputText [(ngModel)]="employee.name" name="name" [disabled]="!editing">
        </div>
        <div>
          <label>Роль:</label>
          <input type="text" pInputText [(ngModel)]="employee.position" name="position" [disabled]="!editing">
        </div>
        <div>
          <label>Почта:</label>
          <input type="text" pInputText [(ngModel)]="employee.mail" name="mail" [disabled]="!editing">
        </div>
        <p>Активных проектов: {{employee.active_projects_count}}</p>
        <p>Просрочено проектов: {{employee.overdue_projects_count}}</p>
        <p>Всего проектов: {{employee.total_projects_count}}</p>
      </form>
    </div>

    <!-- Кнопки -->
    <div class="actions">
      <p-button *ngIf="editing" type="button" label="Сохранить" (click)="saveEmployee()"></p-button>
      <p-button type="button" [label]="editing ? 'Отмена' : 'Редактировать'" (click)="toggleEditing()"></p-button>
      <p-button label="Удалить" (click)="deleteEmployee()" icon="pi pi-times" severity="danger"></p-button>
    </div>
  </div>

  <!-- График справа -->
  <div class="chart-container">
    <!-- Линейный график -->
    <canvas baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="'line'">
    </canvas>

    <!-- Круговая диаграмма -->
    <canvas baseChart
            [data]="pieChartData"
            [options]="pieChartOptions"
            [type]="'pie'">
    </canvas>
  </div>
</div>
