<div class="card" [routerLink]="['/project', project.id]">
  <img [src]="project.image ? 'data:image/svg+xml;base64,' + project.image : 'assets/placeholder.svg'" alt="{{project.name}}" class="card-image">
  <div class="card-content">
    <div class="card-header">
      <h4 class="card-title">{{project.name}}</h4>
      <p class="card-description">Описание: {{project.description | slice:0:100}}{{project.description.length > 100 ? '...' : ''}}</p>
    </div>
    <div class="card-details">
      <p><span class="label">Сложность:</span> <span class="value">{{project.complexity}}</span></p>
      <p><span class="label">Текущий этап:</span> <span class="value">{{project.current_stage}}</span></p>
      <p><span class="label">Срок:</span> <span class="value">{{project.deadline | date:'medium'}}</span></p>
      <p><span class="label">Статус:</span> <span class="value">{{project.status === 1 ? 'Активен' : 'Завершен'}}</span></p>
    </div>
  </div>
</div>
