<div class="chat-main" (keydown.escape)="clear()">
  <chat-tree-node [dataSource]="(treeDate$ | async) || []" (select)="selectNode($event)" ></chat-tree-node>
  <div *ngIf="message" class="view-chat" >
    <div class="chat">
      <div class="chat-info-admin" *ngIf="message.answer">
        <div class="chat-admin">
          <p>{{session!.user.userName}}</p>
          <span>{{answerDate | date: "dd MMMM yyyy HH:mm"}}</span>
        </div>
        <div class="message">
          <div class="chat-message">
            {{message.answer}}
          </div>
        </div>
      </div>

      <div class="chat-info-user">
        <div class="chat-user">
          <p>{{message.userId}} {{message.userName}}</p>
          <span>{{message.requestTime | date: "dd MMMM yyyy HH:mm"}}</span>
        </div>
        <div class="chat-message">
          {{message.text}}
        </div>
      </div>

    </div>
    <div class="chat-input-message" (keydown.enter)="onSubmit(answer.value)">
      <div class="chat-submit">
        <textarea tabindex="1" placeholder="Напишите ответ..." #answer ></textarea>
        <button (click)="onSubmit(answer.value)">Отправить</button>
      </div>
    </div>
  </div>
</div>
